@using ManagementOfSantaClaus.Classes
@model ManagementOfSantaClaus.Models.Orders

@{
  ViewBag.Title = "Index";
}

<h2>Orders</h2>
<hr />
<div class="jumbotron">
  <table class="table">
    <thead>
      <tr>
        <th>Kid</th>
        <th>Status</th>
        <th>Date</th>
        <th>Toy</th>
        @if (Session["IsAdmin"].Equals(true))
      {
          <th>
            @Html.Raw("Tot Cost €")
          </th>
        }
        else
        {
          <th>Edit</th>
        }
      </tr>
    </thead>
    <tbody>

      @foreach (var order in Model.EntityList)
      {
        bool editToys = true;
        Model.TotCost = 0;
        var textColor = StatusType.InProgress;
        if (order.Status.Equals(StatusType.Done))
        {
          textColor = StatusType.Done;
        }
        else if (order.Status.Equals(StatusType.Ready))
        {
          textColor = StatusType.Ready;
        }
        <tr class="@textColor" onclick="location.href='@(Url.Action("Details", "Orders", new { id = order.Id }))'">

          <td>@Html.ActionLink(order.Kid, "Details", new { id = order.Id }, new { kid = order.Kid })</td>

          <td>@Html.ActionLink(order.Status.ToString(), "Details", new { id = order.Id }, new { status = order.Status.ToString() })</td>

          <td>
            @Html.ActionLink(order.Date.ToString("dd/MM/yyyy"), "Details", new { id = order.Id }, new { date = order.Date.ToString() })
            <br />
            @Html.ActionLink(order.Date.ToString("HH:mm:ss"), "Details", new { id = order.Id }, new { date = order.Date.ToString() })
          </td>

          <td>
            @foreach (var toy in order.Toys)
            {

              foreach (var toyColor in Model.ToyList)
              {
                if (toyColor.Name == toy.Name)
                {
                  if (toyColor.Amount >0 || order.Status.Equals(StatusType.Done) || order.Status.Equals(StatusType.Ready))
                  {
                    @Html.ActionLink(toy.Name.ToString(), "Details", new { id = order.Id }, new { toy = toy.ToString() })
                  }
                  else
                  {
                    @Html.ActionLink(toy.Name.ToString(), "Details", new { id = order.Id }, new { @style = "color:red", toy = toy.ToString() })
                    editToys = false;
                  }
                }
              }

              <br />
              if (Session["IsAdmin"].Equals(true))
              {
                foreach (var toyForCost in Model.ToyList)
                {
                  if (toy.Name == toyForCost.Name)
                  {
                    Model.TotCost += toyForCost.Cost;
                  }
                }
              }
            }
          </td>

          <td>
            @if (Session["IsAdmin"].Equals(true))
            {
              @Html.ActionLink(Model.TotCost.ToString(), "Details", new { id = order.Id }, new { toyCost = Model.TotCost.ToString() })
            }
            else if (!order.Status.Equals(StatusType.Done) && editToys)
            {
              @Html.ActionLink("Edit", "Edit", new { id = order.Id }, new { @class = "btn btn-default" })
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
@Html.ActionLink("Back", "../Home", null, new { @class = "btn btn-primary" })