@using ManagementOfSantaClaus.Classes
@model ManagementOfSantaClaus.Models.Orders

@{
  ViewBag.Title = "Index";
}

<h2>Orders</h2>
<hr />
<div class="jumbotron">
  <table class="table">
    <thead>
      <tr>
        <th>Kid</th>
        <th>Status</th>
        <th>Date</th>
        @if (Session["IsAdmin"].Equals(true))
      {
          <th>
            @Html.Raw("Tot Cost €")
          </th>
        }
        else
        {
          <th>Edit</th>
        }
      </tr>
    </thead>
    <tbody>

      @foreach (var order in Model.OrdersList)
      {
        Model.MissingToysList = new List<Toy>();
        Model.TotCost = 0;
        string textColor = StatusType.InProgress.ToString();
        if (order.Status.Equals(StatusType.Done))
        {
          textColor = StatusType.Done.ToString();
        }
        else if (order.Status.Equals(StatusType.Ready))
        {
          textColor = StatusType.Ready.ToString();
        }

        foreach (var toy in Model.ToysList)
        {
          int toyCount = 0;
          foreach (var toyOrder in order.Toys)
          {
            if (toy.Name.Equals(toyOrder.Name))
            {
              toyCount++;
            }
          }
          if (toy.Amount < toyCount)
          {
            Model.MissingToysList.Add(toy);
          }
        }
        foreach (var toy in order.Toys)
        {
          foreach (var toyForCount in Model.ToysList)
          {
            if (toyForCount.Name == toy.Name)
            {
              if (Model.MissingToysList.Count != 0 && order.Status.Equals(StatusType.InProgress))
              {
                foreach (var toyColor in Model.MissingToysList)
                {
                  if (toyColor.Name.Equals(toy.Name))
                  {
                    textColor = "MissingToy";
                  }
                }
              }
            }
          }
        }

        <tr class="@textColor" onclick="location.href='@(Url.Action("Details", "Orders", new { id = order.Id }))'">

          <td>@Html.ActionLink(order.Kid, "Details", new { id = order.Id }, new { kid = order.Kid })</td>

          <td>@Html.ActionLink(order.Status.ToString(), "Details", new { id = order.Id }, new { status = order.Status.ToString() })</td>

          <td>
            @Html.ActionLink(order.Date.ToString("dd/MM/yyyy"), "Details", new { id = order.Id }, new { date = order.Date.ToString() })
            <br />
            @Html.ActionLink(order.Date.ToString("HH:mm:ss"), "Details", new { id = order.Id }, new { date = order.Date.ToString() })
          </td>

          <td> 
            @foreach (var toy in order.Toys)
            {
              if (Session["IsAdmin"].Equals(true))
              {
                foreach (var toyForCost in Model.ToysList)
                {
                  if (toy.Name == toyForCost.Name)
                  {
                    Model.TotCost += toyForCost.Cost;
                  }
                }
              }
            }

            @if (Session["IsAdmin"].Equals(true))
            {
              @Html.ActionLink(string.Concat(Model.TotCost.ToString("F")," €"), "Details", new { id = order.Id }, new { toyCost = Model.TotCost.ToString() })
            }
            else if (!order.Status.Equals(StatusType.Done))
            {
              bool isEdit = true;
              foreach (var toy in Model.ToysList)
              {
                int toyCount = 0;
                foreach (var toyOrder in order.Toys)
                {
                  if (toy.Name.Equals(toyOrder.Name))
                  {
                    toyCount++;
                  }
                }
                if (toy.Amount < toyCount)
                {
                  isEdit = false;
                }
              }
              if (isEdit || order.Status.Equals(StatusType.Ready))
              {
                @Html.ActionLink("Edit", "Edit", new { id = order.Id }, new { @class = "btn btn-default" })
              }
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
@Html.ActionLink("Back", "../Home", null, new { @class = "btn btn-primary" })